<?xml version="1.0" encoding="UTF-8" ?>
<E_officialdocument>
    <jhsbxx>
        <xxzyID>dzgw</xxzyID>
        <ywlsh>$!{envelopeUuid}</ywlsh>
        <letterid>$!{envelopeUuid}</letterid>
        <ywlx>dzgw</ywlx>
        <mj>3</mj>
        <jjcd>3</jjcd>
        <qqf>007565768</qqf>
        <fkf>007566461</fkf>
        <jhdx>
            <fsf>007565768</fsf>
            <fssj>$!{currentTime}</fssj>
            <jsf>007566461</jsf>
        </jhdx>
        <jhzt>A</jhzt>
        <fkyqbsf>A</fkyqbsf>
        <fksjyq  type='6'>2017-06-05 13:03:19</fksjyq>
        <aqxxx></aqxxx>
    </jhsbxx>
    <jhztxx>
        <dzgw type='0'>
            <fh></fh>
            <mj></mj>
            <bmqx>null</bmqx>
            <jjcd></jjcd>
            <fwjg>广西壮族自治区人民政府办公厅</fwjg>
            <fwwh>桂政办发〔2016〕$!{number}</fwwh>
            <qfr></qfr>
            <bt>广西壮族自治区人民政府办公厅关于全面加强和改进学校美育工作的实施意见</bt>
            <zsjg></zsjg>
            <zw></zw>
            <fjsm></fjsm>
            <cwrq>2016-12-19 13:02:44</cwrq>
            <dzyz></dzyz>
            <fz></fz>
            <gkfs></gkfs>
            <cs></cs>
            <yfjg>广西壮族自治区人民政府办公厅</yfjg>
            <yfrq></yfrq>
            <ewtm></ewtm>
            <lxr>黄清宇</lxr>
            <lxdh>2858632</lxdh>
            <dzgwbswj>
                <bswjwjm>sursentemp.gw</bswjwjm>
                <bswjgssm>.gw</bswjgssm>
                <bswjwjt></bswjwjt>
            </dzgwbswj>
            <dzgwbswj>
                <bswjwjm>sursentemp.gd</bswjwjm>
                <bswjgssm>.gd</bswjgssm>
                <bswjwjt></bswjwjt>
            </dzgwbswj>
            <dzgwbswj>
                <bswjwjm>sursentemp.tif</bswjwjm>
                <bswjgssm>.tif</bswjgssm>
                <bswjwjt></bswjwjt>
            </dzgwbswj>
            <gwfj>
                <fjwjm>sursentemp.pdf</fjwjm>
                <fjgssm>桂政办发（2016）159号</fjgssm>
                <fjwjt></fjwjt>
            </gwfj>
        </dzgw>
    </jhztxx>
</E_officialdocument>

