<th style="width:80px">部门名称：</th>
<td width="100px"><input name="$qc.like('department.depName')" class="easyui-textbox" type="text" style="width:100px;"/></td>
<th style="width:80px">人员名称：</th>
<td width="80px"><input name="$qc.like('userName')" class="easyui-textbox" type="text" style="width:100px;"/></td>