<script type="text/javascript" src='lib/plupload/json2.min.js'></script>
<script type="text/javascript" src='lib/plupload/plupload.full.min.js'></script>
<script type="text/javascript" src='lib/plupload/i18n/zh_CN.js'></script>
<script type="text/javascript">
    var baseUrl = '$link.getContextURL()/apkmanage';
    $(function () {
        $('#dg').datagrid({
        });
        $("a[select-dialog]").each(function() {
            $(this).click(function(){
                var $this = $(this);
                var _callbackname = $this.attr("callback");
                var _url = $this.attr("select-dialog");
                var _callback_fn = window[_callbackname];
                var dfn = top.window.openSelectDialogFrameDialog;
                console.log(dfn);
                if (typeof dfn === "function") {
                    dfn(_url, _callback_fn);
                }
                return false;
            })
        });
    });

    function getConditions() {
        var f = $("#queryForm").serializeArray();
        var searchConditions = {};
        for (var i = 0; i < f.length; i++) {
            searchConditions[f[i].name] = f[i].value;
        }
        return searchConditions;
    }

    $('#dg').datagrid({'onBeforeLoad':function(param){
        $.extend(param,getConditions());
    }});

    //进入APK上传界面
    function add() {
        window.location = baseUrl + '/uploadapk';
    }

    function edit() {
        var row = $('#dg').datagrid('getSelected');
        if(row){
            window.location = baseUrl + '/edituser?id=' + row.id;
        }
    }
    //提交APK文件保存信息
    function save() {
        var flag = $("#editForm").form('validate');
        if (flag) {
            $.post(baseUrl + "/saveapk.json", $("#editForm").serialize(), function(result) {
                if (result) {
                    window.location = baseUrl + "/list";
                } else {
                    $.messager.show({
                        title: "提示",
                        msg: "保存APK文件失败！"
                    });
                }
            });
        }
    }
    //返回列表界面
    function back(){
        window.location = baseUrl + "/list";
    }
</script>