#set($bodyattr="class='easyui-layout' style='border:0px'")

<div class="cc-tableWrap" data-options="region:'center',border:false" style="padding:5px;">
<table id="dg" style="width:100%" data-options="fit:true,rownumbers:true,singleSelect:true,pagination:true,toolbar:'#tb',url:'apkmanage/list.json',pageSize:20,pageList:[20, 30, 50]">
    <thead>
    <tr>
        <th data-options="field:'packageName',width:150">安装包名称</th>
        <th data-options="field:'version',width:80">安装包版本</th>
        <th data-options="field:'fileSizeFormat',width:80" >安装包大小</th>
        <th data-options="field:'updateFlag',width:100" >更新标志</th>
        <th data-options="field:'uploadTimeFormat',width:150">上传时间</th>
        <th data-options="field:'uploadName',width:100">上传人</th>
        <th data-options="field:'packageScript',width:500">安装包描述</th>
    </tr>
    </thead>
</table>
</div>
