#set($bodyattr="class='easyui-layout' style='border:0px'")
<div class="cc-tableWrap" data-options="region:'center',border:false" style="padding:5px;">
    <form id="editForm" method="post">
        <table style="margin:0px;" class="default-table self-table">
            <input type="hidden" name="id" value="$!{mailUser.id}">
            <tr>
                <td style="background:#f3f4f4" colspan="2">
                    <div class="btn-right right_tools">
                        <a href="javascript:void(0)" iconcls="icon-save" plain="true" class="easyui-linkbutton" onClick="save()">保存</a>
                        <a href="javascript:void(0)" iconcls="icon-back" plain="true"class="easyui-linkbutton" onClick="back()">返回</a>
                    </div>
                </td>
            </tr>
            #if($!{mailUser.id})
                <tr>
                    <th width="8%">用户名</th>
                    <td>
                        $!{mailUser.mailUserName}
##                        <input data-options="validType:['length[0,100]']"  style="width:400px;" name="MailUserName" value="" class="easyui-textbox" />
                    </td>
                </tr>
            #end
            <tr>
                <th>组织机构</th>
                <td>
                    <input type="hidden" id="orgCode" name="orgCode" value="$!{mailUser.orgCode}" />
                     <input data-options="editable:false"  id="orgName"  style="width:300px;" name="orgName" value="$!{mailUser.orgName}" class="easyui-textbox" />
                     <a class="easyui-linkbutton" iconCls="icon-add" plain="true" onClick="showDepDialog()">选择</a>
                </td>
            </tr>

            <tr>
                <th>帐号</th>
                <td>
                     <input data-options="required:true" style="width:300px;" name="account" value="$!{mailUser.account}" class="easyui-textbox easyui-validatebox" />
                </td>
            </tr>

            <tr>
                <th>域名</th>
                <td>
                <input type="hidden" name="domain" value="#if(!$!{mailUser.domain})gxfda.gov.cn#else$!{mailUser.domain}#end" />
                #if(!$!{mailUser.domain})gxfda.gov.cn#else$!{mailUser.domain}#end
                </td>
            </tr>
        </table>
    </form>
</div>

<div id="dlg" class="easyui-dialog" title="选择组织机构" style="width:550px;height:400px;" data-options="closed:true">
    <div id="tb" style="padding:2px 5px;">
        <form id="queryForm">
            <table class="tb2">
            <th style="text-align:right;">部门名称：</th>
            <td style="text-align:left">
                <input name="$qc.like('orgName')" class="easyui-textbox" style="margin:5px;"/>
            </td>
            <td>
                <a href="javascript:;" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="formSerach()" >查询</a>
                <a href="javascript:;" class="easyui-linkbutton" plain="true" iconCls="icon-remove" onclick="reset()">重置</a>
            </td>
                <span style="float:right;position:absolute;right:5px;">
                    <a href="javascript:;" class="easyui-linkbutton" plain="true" iconCls="icon-ok" onclick="selectDep()" >选择</a>
                </span>
            </table>
        </form>
    </div>
    <table id="dg" style="width:100%;" data-options="pageSize:10,pageList:[10,20,40],fit:true,rownumbers:true,singleSelect:true,pagination:true,toolbar:'#tb',url:'mail/orglist.json'">
        <thead>
            <tr>
                <th data-options="field:'orgName'" style="width:98%">部门名称</th>
            </tr>
        </thead>
    </table>
</div>


#parse("/mail/mail.js.html")
#include("/common/easyui/crud.css.vm")

