<script type="text/javascript">
    var baseUrl = '$link.getContextURL()/mail';
    $(function () {
        $('#dg').datagrid({
        });
        $("a[select-dialog]").each(function() {
            $(this).click(function(){
                var $this = $(this);
                var _callbackname = $this.attr("callback");
                var _url = $this.attr("select-dialog");
                var _callback_fn = window[_callbackname];
                var dfn = top.window.openSelectDialogFrameDialog;
                console.log(dfn);
                if (typeof dfn === "function") {
                    dfn(_url, _callback_fn);
                }
                return false;
            })
        });
    });

    function getConditions(){
        var f = $("#queryForm").serializeArray();
        var searchConditions = {};
        for(var i = 0;i< f.length;i++){
            searchConditions[f[i].name] = f[i].value;
        }
        return searchConditions;
    }
    function formSerach() {
        $('#dg').datagrid('reload');
    }
    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        })
    }

    $('#dg').datagrid({'onBeforeLoad':function(param){
        $.extend(param,getConditions());
    }});

    function del(){
        var row = $('#dg').datagrid('getSelected');
        if (row){
            $.messager.confirm('警告','确定删除该邮箱用户吗?',function(r){
                if (r){
                    $.post(baseUrl + '/deluser.json',{id:row.id},function(result){
                        if (result){
                            $('#dg').datagrid('reload'); // reload the user data
                        } else {
                            $.messager.show({ // show error message
                                title: '提示',
                                msg: "删除失败！"
                            });
                        }
                    },'json');
                }
            });
        }
    }
    function add(){
        window.location = baseUrl + '/edituser';
    }
    function edit(){
        var row = $('#dg').datagrid('getSelected');
        if(row){
            window.location = baseUrl + '/edituser?id=' + row.id;
        }
    }

    function save(){
        var flag = $("#editForm").form('validate');
        if(flag){
             $.post("$link.getContextURL()/mail/saveuser.json",$("#editForm").serialize(),function(result){
               if(result){
                   window.location = "$link.getContextURL()/mail/userlist";
               }else{
                   $.messager.show({ // show error message
                       title: '提示',
                       msg: "保存失败！"
                   });
               }
            });
        }
    }
    function back(){
        window.location = "$link.getContextURL()/mail/userlist";
    }

    function showDepDialog(){
        $("#dlg").dialog("open");
        $("#dg").datagrid("getPanel").panel({border:false});
    }

    function selectDep(){
        var dep = $("#dg").datagrid("getSelected");
        if(!dep){
            $.messager.alert('提示','请先选择组织机构！');
        }else{
            $("#dlg").dialog("close");
            $("#orgCode").val(dep.orgCode);
            $("#orgName").textbox("setValue",dep.orgName);
        }
    }

</script>