#set($bodyattr="class='easyui-layout' style='border:0px'")

<div class="cc-tableWrap" data-options="region:'center',border:false" style="padding:5px;">
<table id="dg" style="width:100%" data-options="fit:true,rownumbers:true,singleSelect:true,pagination:true,toolbar:'#tb',url:'mail/userlist.json',pageSize:20,pageList:[20,30,50]">
    <thead>
    <tr>
        <th data-options="field:'mailUserName',width:250">用户名</th>
        <th data-options="field:'account',width:200">帐号</th>
        <th data-options="field:'domain',width:250" >域名</th>
        <th data-options="field:'orgName',width:300">组织机构</th>
    </tr>
    </thead>
</table>
</div>
