@charset "utf-8";
* {
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

/*向下*/
 @-webkit-keyframes moveDown {
 0% {
 -webkit-transform: translateY(-40px);
 opacity: 0;
}
 100% {
 -webkit-transform: translateY(0px);
 opacity: 1;
}
}
 @-moz-keyframes moveDown {
 0% {
 -moz-transform: translateY(-40px);
 opacity: 0;
}
 100% {
 -moz-transform: translateY(0px);
 opacity: 1;
}
}
 @-o-keyframes moveDown {
 0% {
 -o-transform: translateY(-40px);
 opacity: 0;
}
 100% {
 -o-transform: translateY(0px);
 opacity: 1;
}
}
 @-ms-keyframes moveDown {
 0% {
 -ms-transform: translateY(-40px);
 opacity: 0;
}
 100% {
 -ms-transform: translateY(0px);
 opacity: 1;
}
}
 @keyframes moveDown {
 0% {
 transform: translateY(-40px);
 opacity: 0;
}
 100% {
 transform: translateY(0px);
 opacity: 1;
}
}


/*向上*/
@-webkit-keyframes moveUp {
 0% {
 -webkit-transform: translateY(40px);
 opacity: 0;
}
 100% {
 -webkit-transform: translateY(0px);
 opacity: 1;
}
}
 @-moz-keyframes moveUp {
 0% {
 -moz-transform: translateY(40px);
 opacity: 0;
}
 100% {
 -moz-transform: translateY(0px);
 opacity: 1;
}
}
 @-o-keyframes moveUp {
 0% {
 -o-transform: translateY(40px);
 opacity: 0;
}
 100% {
 -o-transform: translateY(0px);
 opacity: 1;
}
}
 @-ms-keyframes moveUp {
 0% {
 -ms-transform: translateY(40px);
 opacity: 0;
}
 100% {
 -ms-transform: translateY(0px);
 opacity: 1;
}
}
 @keyframes moveUp {
 0% {
 transform: translateY(40px);
 opacity: 0;
}
 100% {
 transform: translateY(0px);
 opacity: 1;
}
}


/*向左*/
@-webkit-keyframes moveLeft {
 0% {
 -webkit-transform: translateX(40px);
 opacity: 0;
}
 100% {
 -webkit-transform: translateX(0px);
 opacity: 1;
}
}
 @-moz-keyframes moveLeft {
 0% {
 -moz-transform: translateX(40px);
 opacity: 0;
}
 100% {
 -moz-transform: translateX(0px);
 opacity: 1;
}
}
 @-o-keyframes moveLeft {
 0% {
 -o-transform: translateX(40px);
 opacity: 0;
}
 100% {
 -o-transform: translateX(0px);
 opacity: 1;
}
}
 @-ms-keyframes moveLeft {
 0% {
 -ms-transform: translateX(40px);
 opacity: 0;
}
 100% {
 -ms-transform: translateX(0px);
 opacity: 1;
}
}
 @keyframes moveLeft {
 0% {
 transform: translateX(40px);
 opacity: 0;
}
 100% {
 transform: translateX(0px);
 opacity: 1;
}
}

/*向右*/
@-webkit-keyframes moveRight {
 0% {
 -webkit-transform: translateX(-40px);
 opacity: 0;
}
 100% {
 -webkit-transform: translateX(0px);
 opacity: 1;
}
}
 @-moz-keyframes moveRight {
 0% {
 -moz-transform: translateX(-40px);
 opacity: 0;
}
 100% {
 -moz-transform: translateX(0px);
 opacity: 1;
}
}
 @-o-keyframes moveRight {
 0% {
 -o-transform: translateX(-40px);
 opacity: 0;
}
 100% {
 -o-transform: translateX(0px);
 opacity: 1;
}
}
 @-ms-keyframes moveRight {
 0% {
 -ms-transform: translateX(-40px);
 opacity: 0;
}
 100% {
 -ms-transform: translateX(0px);
 opacity: 1;
}
}
 @keyframes moveRight {
 0% {
 transform: translateX(-40px);
 opacity: 0;
}
 100% {
 transform: translateX(0px);
 opacity: 1;
}
}
#login {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: linear-gradient( 90deg, rgb(4,61,151) 0%, rgb(25,146,215) 100%);
	background-image: -moz-linear-gradient( 90deg, rgb(4,61,151) 0%, rgb(25,146,215) 100%);
	background-image: -webkit-linear-gradient( 90deg, rgb(4,61,151) 0%, rgb(25,146,215) 100%);
	background-image: -ms-linear-gradient( 90deg, rgb(4,61,151) 0%, rgb(25,146,215) 100%);
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1992d7', endColorstr='#043d97', GradientType=0 );
	margin: 0 auto;
	overflow: hidden;
	display: block;
}
:root {
	filter: none;
}
#login #login-bg {
	width: 100%;
	height: 100%;
	background: url(../images/login-bg.png) top right no-repeat;
	padding: 100px 0px 160px 0px;
}
#login .login-logo {
	width: 100%;
	height: 79px;
	margin: 0 auto;
	margin-bottom: 100px;
	-webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
#login .login-logo img {
	width: 100%;
	height: auto;
	max-width: 972px;
	max-height: 79px;
	margin: 0 auto;
	display: block;
}
/* for explorer only */
#login .login-form {
	width: 350px;
	margin: 0 auto;
}
#login label {
	width: 350px;
	height: 47px;
	font: 20px/47px "微软雅黑","黑体";
	color: #FFF;
	margin-bottom: 20px;
	display: block;
	-webkit-animation: moveRight 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveRight 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveRight 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveRight 0.6s ease-in-out 0.2s backwards;
	animation: moveRight 0.6s ease-in-out 0.2s backwards;
}
#login label:last-child {
	margin-bottom: 0px;
}
#login .login-account {
	width: 230px;
	height: 45px;
	font: 16px/45px "微软雅黑","黑体";
	padding: 0 40px 0 10px;
	color: #FFF;
	border: 1px solid #0f7aff;
	background: #084ea4 url(../images/icon-login-user.png) 242px center no-repeat;
	overflow: hidden;
}
#login .login-password {
	width: 230px;
	height: 45px;
	font: 16px/32px "微软雅黑","黑体";
	padding: 0 40px 0 10px;
	color: #FFF;
	border: 1px solid #0f7aff;
	background: #084ea4 url(../images/icon-login-password.png) 242px center no-repeat;
	overflow: hidden;
}
#login .login-btn {
	width: 280px;
	height: 50px;
	border-radius: 25px;
	background: #074188;
	border: none;
	font: 20px/50px "微软雅黑","黑体";
	color: #FFF;
	text-align: center;
	cursor: pointer;
	margin-left: 60px;
	-webkit-animation: moveLeft 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveLeft 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveLeft 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveLeft 0.6s ease-in-out 0.2s backwards;
	animation: moveLeft 0.6s ease-in-out 0.2s backwards;
	overflow:hidden;
}
#login .login-btn:hover {
	width: 280px;
	height: 50px;
	background: #147fc8;
	font: 20px/48px "微软雅黑","黑体";
	color: #FFF;
	text-align: center;
	border: 1px solid #043d97;
}
#login .login-error {
	width: 330px;
	height: 24px;
	background: url(../images/icon-login-error.png) left center no-repeat;
	padding-left: 30px;
	margin-left: 80px;
	margin-top: 15px;
	font: 14px/24px "微软雅黑","黑体";
	color: #C00;
	display: block;
	overflow: hidden;
	-webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	animation: moveUp 0.6s ease-in-out 0.2s backwards;
}
#login .login-copyright {
	width: 100%;
	height: 50px;
	font: 14px/48px "微软雅黑","黑体";
	color: #74b1f2;
	text-align: center;
	position: absolute;
	bottom: 30px;
}
