#set($bodyattr="class='easyui-layout' style='overflow-y: hidden'  scroll='no'")

<noscript>
    <div class="noscript_tip">
        <img src="images/noscript.gif" alt='抱歉，请开启脚本支持！' />
    </div>
</noscript>

<div region="north" split="false" border="false" class="north-bg">
    #pageheader()
</div>

<div region="west" hide="true" split="true" title="移动平台" id="west">
    <div id='wnav' class="easyui-accordion" fit="true" border="false">
        <!--  导航内容 -->
    </div>
</div>

<div region="center">
    <div id="tabs" class="easyui-tabs"  fit="true" border="false" >
##        <div title="欢迎使用" id="home">
##            <h1>欢迎使用!</h1>
##        </div>
    </div>
</div>

<div region="south" split="false" style="height: 30px; background: rgb(38,107,166);">
    <div class="footer">南宁超创信息工程有限公司</div>
</div>

<div id="tabMenu" class="easyui-menu" class="cc-tab-menu" style="display:none">
    <div id="mm-tabupdate">刷新</div>
    <div class="menu-sep"></div>
    <div id="mm-tabclose">关闭</div>
    <div id="mm-tabcloseall">全部关闭</div>
    <div id="mm-tabcloseother">除此之外全部关闭</div>
    <div class="menu-sep"></div>
    <div id="mm-tabcloseright">当前页右侧全部关闭</div>
    <div id="mm-tabcloseleft">当前页左侧全部关闭</div>
    <div class="menu-sep"></div>
    <div id="mm-exit">退出</div>
</div>

#include("/index.css.html")

##parse("/selectdialog/selectdialogframe.vm")

#@script()
##<script type="text/javascript" src='js/outlook.js'> </script>
#end

#@script()
<script type="text/javascript" src='js/main.js'> </script>
<script type="text/javascript" src='js/case.js'> </script>
<link href="css/effect.css" rel="stylesheet" type="text/css"/>
#include("/menudata.html")
#end

#@script()
<script type="text/javascript" src='lib/plupload/json2.min.js'></script>
<script type="text/javascript" src='lib/plupload/plupload.full.min.js'></script>
<script type="text/javascript" src='lib/plupload/i18n/zh_CN.js'></script>
<script type="text/javascript">
$(document).ready(function(){
    if(!window.CC){
        window.CC = new CCApp();
        top.CC.addTab({title:"授权管理",url:"$link.getContextURL()"+"/registerapp/list"});
    }
});
</script>
#end
