<script type="text/javascript">
$(document).ready(function(){
    /************************************
     * 初始化导航菜单列表               *
     ************************************/
    var _menus = {
        我的桌面: [
            {
                "icon": "icon icon-sys",
                "title": "系统管理",
                "items": [
                    {
                        "title": "用户注册申请",
                        "url": "registerapp/list"
                    },
                    {
                        "title": "组织机构查询",
                        "url": "deptree/show"
                    },
                    {
                        "title": "邮箱用户管理",
                        "url": "mail/userlist"
                    },
                    {
                        "title": "APK文件管理",
                        "url": "apkmanage/list"
                    }
                ]
            }
        ]
    };
    var app = new CCApp();
    app.menus = _menus;
    app.initMenu(_menus.我的桌面);
    app.init();
});
</script>
