<ul id="css3menu" style="padding:0px; margin:0px;list-type:none; position:absolute; bottom:10px; right:20px;">
    <li>
        <a  onclick="CC.switchMenu('我的桌面',this)" class="active" href="javascript:;" style="display:block">
            <i class="icon-home"></i>
            我的桌面</a>
    </li>
    <li>
        <a onclick="CC.switchMenu('数据中心',this)" href="javascript:;" style="display:block">数据中心</a>
    </li>
    <li>
        <a onclick="CC.switchMenu('行政办案',this)" href="javascript:;" style="display:block">行政办案</a>
    </li>
</ul>
