<div class="north1">
 <div class="header-right"> <img src="images/state_left.png" /><div class="header-user"><span>${user.getCurrentUserName()}</span>, 您好！今天是$date.get("yyyy")年$date.get("M")月$date.get("dd")日 $date.get("E")</div></div>

  <ul id="css3menu" style="padding:0px; margin:0px;list-type:none; position:absolute; bottom:30px; right:8px;">
##    <li><a name="point"href="javascript:;" title="我的桌面" style="display:block"><img src="images/top_nav_desk.png" /></a></li>
    <li><a id="loginOut" name="basic" href="javascript:;" title="基础数据" style="display:block"><img src="images/top_nav_loginout.png" /></a></li>
  </ul>
</div>
<style>
.header-right{float:right}
.header-user span{color:red;font:14px/34px "微软雅黑";}
</style>
#@script()
<script>
    $(function() {
        $('#loginOut').click(function() {
            $.messager.confirm('系统提示', '您确定要退出本次登录吗?', function(ok) {
                if (ok) {
                    top.location.href = '$link.getContextURL()/common/logout';
                }
            });

            return false;
        });
    });
</script>
#end
