<script type="text/javascript">
var baseUrl = '$link.getContextURL()/registerapp'
    $(function () {
        $('#dg').datagrid({
        });
    });
function getConditions(){
    var f = $("#queryForm").serializeArray();
    var searchConditions = {};
    for(var i = 0;i< f.length;i++){
        searchConditions[f[i].name] = f[i].value;
    }
    return searchConditions;
}
function formSerach() {
    $('#dg').datagrid('reload',getConditions());
}
function reset(){
    var _qf = $("#queryForm");
    _qf.form("clear");
    $(".easyui-combobox",_qf).each(function(){
        $(this).combobox("select"," ");
    })
}

function getCheckedId(){
    var checkedData = $('#dg').datagrid("getChecked");
    var ids = [];
    if(checkedData){
        for(var check in checkedData){
            ids.push(checkedData[check].id);
        }
    }
    return ids;
}

function operate(status){
    var ids = getCheckedId();
    var tipMsg=status==1?'<p style="text-align:center;font-size:13px">确定审核通过？</p><p style="text-indent:2em">有短信验证码的申请可不需要手动审批通过。</p>':'<p style="text-align:center;font-size:13px">确定审核不通过？</p>';
    if(ids.length){
        $.messager.confirm('提示',tipMsg,function(r){
            if (r){
                $.post(baseUrl + '/changeinbatch.json',{ids:ids,status:status},function(result){
                    if (result){
                        $('#dg').datagrid('reload');
                    } else {
                        $.messager.show({
                            title: '提示',
                            msg: "操作失败"
                        },'json');
                    }
                });
            }
        });
    }
}
function del(){
    var ids = getCheckedId();
    if(ids.length){
        $.messager.confirm('提示','确定删除?',function(r){
            if (r){
                console.log(ids);
                $.post(baseUrl + '/deleteinbatch.json',{ids:ids},function(result){
                    if (result){
                        $('#dg').datagrid('reload');
                    } else {
                        $.messager.show({
                            title: '提示',
                            msg: "操作失败"
                        });
                    }
                },'json');
            }
        });
    }

}

</script>