#@script()
<script>
    function getConditions(){
        var f = $("#queryForm").serializeArray();
        var searchConditions = {};
        for(var i = 0;i< f.length;i++){
            searchConditions[f[i].name] = f[i].value;
        }
        return searchConditions;
    }

    function formSerach() {
        dg.datagrid({
            url:'user/list.json'
        });
        $('#dg').datagrid('reload');
    }

    function reset(){
        var _qf = $("#queryForm");
        _qf.form("clear");
        $(".easyui-combobox",_qf).each(function(){
            $(this).combobox("select"," ");
        })
    }

    $('#dg').datagrid({'onBeforeLoad':function(param){
        $.extend(param,getConditions());
    }});

    function getRowIdByDom(dom){
        var tr =$(dom).parent().parent().parent();
        return tr.attr("datagrid-row-index");
    }

    function operate(index){
        $('#dg').datagrid("selectRow",index);
        var row = $('#dg').datagrid('getSelected');
        if(row.isRegister != "已注册"){
            $("#id").val(row.id);
            $("#userName").html(row.userName);
             $("#depName").html(row.depName);
            $("#account").html(row.account);
            $("#dlg").dialog("open",row);
        }else{
             $.messager.confirm('提示','确定注销?',function(r){
                if(r){
                    $.post("$link.getContextURL()/registerapp/unregister.json",{id:row.id},function(result){
                       if(result){
                           $('#dg').datagrid("reload");
                       }else{
                           $.messager.show({ // show error message
                               title: '提示',
                               msg: "注销失败！"
                           });
                       }
                    });
                }
             });
        }
    }

    function register(){
        var flag = $("#editForm").form('validate');
        if(flag){
             $.post("$link.getContextURL()/registerapp/register.json",$("#editForm").serialize(),function(result){
               if(result){
                   $("#dlg").dialog("close");
                   $('#dg').datagrid("reload");
               }else{
                   $.messager.show({ // show error message
                       title: '提示',
                       msg: "注册失败！"
                   });
               }
            });
        }
    }

    function operaterFormatter(value,row,index){
        var htmlStr = row.isRegister == "已注册" ? $("#unRegister").html() : $("#isRegister").html();
        return htmlStr;
    }
$(function(){
    var ch= document.documentElement.clientHeight-40;
    if(!ch) ch = 640;
    $(".autoH").attr("height",ch+"px");
    $('#dg').datagrid();
});
var _itemsTree = $("#itemtree");
var dg = $('#dg');
var isNew = false;
var _root;
$('#itemtree').tree({
    url:'$link.getContextURL()/deptree/deptree.json',
    onLoadSuccess:function(node, data){
        if(!_root){
            _root  = _itemsTree.tree("getRoot");
        }
        _itemsTree.tree('expand',_root.target);
    },
    onClick: function(node){
        _itemsTree.tree('expand',node.target);
    },
    onSelect:function(node){
        reset();
        dg.datagrid({
            url:'user/list.json?parentId='+node.id
        });
    }
});

</script>
#end