#set($bodyattr="class='easyui-layout' style='border:0px'")
<div class="cc-tableWrap" data-options="region:'center',border:false" style="padding:5px;">
    <table class="show">
        <tr>
            <td class="autoH" width="25%"  style="">
                <div style="padding:10px;height:99%;overflow:auto;">
                <ul id="itemtree"></ul>
                </div>
            </td>
            <td class="autoH" style="padding:5px 10px 10px 10px;">
                #parse("/dep/userlist.vm")
            </td>
        </tr>
    </table>
</div>
#parse("/dep/dep.js.vm")
#include("/common/easyui/crud.css.vm")
#@script()
<style>
.show{
    margin:0px;background-color:#95b8e7;border-spacing:1px;width:100%;
}
.autoH{
    background-color:#FFF;
    vertical-align:top;
}

.datagrid-pager>table{
    width:auto;
    border-spacing: 0;
}

.datagrid-pager>table td{
    background:#f4f4f4 none repeat scroll 0 0;
    vertical-align:middle
}
.tb2{
    width:auto;
    border-spacing: 0;
}
.tb2 th{
    background:#f4f4f4 none repeat scroll 0 0;
    vertical-align:middle
}
</style>
#end