<div id="tb" style="padding:2px 5px;">
    <form id="queryForm">
        <table class="tb2">
        <th style="text-align:right;">用户名：</th>
        <td style="text-align:left">
            <input style="width:110px" name="$qc.like('userName')" class="easyui-textbox" style="margin:5px;"/>
        </td>
        <th style="text-align:right;">帐号：</th>
        <td style="text-align:left">
            <input  style="width:110px"  name="$qc.like('account')" class="easyui-textbox" style="margin:5px;"/>
        </td>
        <th style="text-align:right;">部门：</th>
        <td style="text-align:left">
            <input  style="width:110px"  name="$qc.like('department.depName')" class="easyui-textbox" style="margin:5px;"/>
        </td>
        <th style="text-align:right;">状态：</th>
        <td style="text-align:left">
            <select  name="$qc.equal('isRegister')" class="easyui-combobox" style="width:100px" panelheight="auto">
                <option value=" " >选择状态</option>
                #foreach($option in ${dict.isregister.keySet()})
                    <option value="$option">${dict.isregister.get($option)}</option>
                #end
            </select>
        </td>
        <span style="float:right;position:absolute;right:5px;">
            <a href="javascript:;" class="easyui-linkbutton" plain="true" iconCls="icon-search" onclick="formSerach()" >查询</a>
            <a href="javascript:;" class="easyui-linkbutton" plain="true" iconCls="icon-remove" onclick="reset()">重置</a>
        </span>
        </table>
    </form>
</div>
<table id="dg" title="" style="width:100%;height:100%" data-options="pageSize:20,pageList:[20,30,50],rownumbers:true,pagination:true,singleSelect:true,toolbar:'#tb',url:'user/list.json'">
    <thead>
    <tr>
        <th data-options="field:'userName'"style="width:20%;">姓名</th>
        <th data-options="field:'account'"style="width:20%;">账号</th>
        <th data-options="field:'depName'"style="width:30%;">部门</th>
        <th data-options="field:'isRegister',formatter:function(value,row,index){if(value)return value;else return '未处理'}" style="width:15%;">状态</th>
        <th data-options="field:'xx',align:'center',formatter:operaterFormatter" style="width:14%;">操作</th>
    </tr>
    </thead>
</table>
<div style="display:none">
    <div id="isRegister">
        <a href='javascript:;' class="easyui-linkbutton" plain="true" iconCls="icon-ok" onclick='operate(getRowIdByDom(this))'>注册</a>
    </div>
    <div id="unRegister">
        <a href='javascript:;' class="easyui-linkbutton" plain="true" iconCls="icon-remove"  onclick='operate(getRowIdByDom(this))'>注销</a>
    </div>
    <div id="dlg" class="easyui-dialog" title="注册用户" style="width:420px;height:220px;padding:10px"
            data-options="closed:true,
                buttons: [{
                    text:'确定注册',
                    iconCls:'icon-ok',
                    handler:register
                }]
            ">
            <form id="editForm" method="post">
                <table style="margin:0px;" class="default-table self-table">
                <tr>
                    <th width="65px" align="right">用户名</th>
                    <td id="userName">
                    </td>
                </tr>
                <tr>
                    <th align="right">帐号</th>
                    <td id="account">
                    </td>
                </tr>
                <tr>
                    <th align="right">部门</th>
                    <td id="depName">
                    </td>
                </tr>
                <tr>
                    <th align="right">手机IMEI</th>
                    <td>
                    <input type="hidden" id="id" name="id"/>
                    <input  class="easyui-textbox easyui-validatebox" id="imeiCode" name="imeiCode" data-options="width:'165px',required:true" />
                    </td>
                </tr>
            </table>
            </form>
        <br/>
    </div>
</div>



